.home-container {
  padding: 0 50px;
  font-family: var(--font-family);
}

.home-hero-container {
  padding: 300px 20px;
}

.home-exp-section,
.home-about-section,
.home-contacts-section {
  background: #151b26;
  padding: 70px 0;
}

.hero-button-viev-tours:hover,
.hero-button-viev-tours:focus,
.about-contact-btn:hover,
.about-contact-btn:focus,
.input-field-button:hover,
.input-field-button:focus {
  transform: translateY(-2px);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}

/* HERO SECTION */

.home-hero-section {
  min-width: 320px;
  display: block;
  align-items: center;
  position: relative;
  background-color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url(./images/plane_home_mobile_bg.jpg);
  background-size: cover;
  background-position-x: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.home-hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.home-hero-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 110%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #dd2b2b;

  text-shadow: 1px 4px 6px rgba(0, 0, 0, 0.6);

  animation: fadeInUp 0.8s ease forwards;
}

.home-hero-text {
  font-weight: bold;
  font-size: 26px;
  line-height: 145%;
  letter-spacing: -0.01em;
  text-align: center;
  color: #fff;
  text-shadow: 1px 4px 6px rgba(0, 0, 0, 0.6);
  opacity: 0;
  animation: fadeInUp 0.8s ease forwards;
}

.hero-button-viev-tours {
  border: none;
  border-radius: 15px;
  padding: 12px 16px;
  width: 243px;
  height: 50px;

  cursor: pointer;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  background: #dd2b2b;

  font-weight: 700;
  font-size: 18px;
  line-height: 145%;
  letter-spacing: -0.01em;
  text-align: center;
  color: #fff;

  transition: transform 0.2s ease;
}

.hero-button-wrapper {
  display: inline-block;
  text-decoration: none;
  opacity: 0;
  animation: fadeInUp 0.8s ease forwards;
}


.hero-button-viev-tours:active {
  transform: translateY(0);
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* EXP SECTION */


.home-exp-header {
  font-weight: 700;
  font-size: 40px;
  line-height: 110%;
  letter-spacing: -0.02em;
  color: #f0f4f8;
  margin-bottom: 48px;
}

.home-exp-blocks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.home-exp-block {
  width: 100%;
  height: 225px;
  background: #212A3C;
  padding: 40px 15px 28px 35px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 12px;
  row-gap: 20px;
  border-radius: 10px;

  transition: background-color 0.2s ease;
}

.home-exp-block:hover,
.home-exp-block.focus {
  background-color: #2c3851;
}

.home-exp-block-header {
  font-weight: 700;
  font-size: 20px;
  line-height: 110%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #f0f4f8;
}

.home-exp-block-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 110%;
  letter-spacing: -0.02em;
  text-align: left;
  color: #b3b9c4;
}

.home-exp-icon {
  fill: #feeec4;
}

/* ABOUT SECTION */

.about-content{
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.about-row{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.about-description{
  font-weight: 700;
  font-size: 20px;
  line-height: 125%;
  letter-spacing: -0.02em;
  color: #b3b9c4;
}
.accent-red{
  color: #dd2b2b;
}

.about-contact-btn{
  border-radius: 15px;
  padding: 12px 16px;
  width: 243px;
  height: 50px;
  box-shadow: 4px 3px 4px 0 rgba(0, 0, 0, 0.25);
  background: #dd2b2b;

  margin-top: 40px;

  font-weight: 700;
  font-size: 18px;
  line-height: 145%;
  letter-spacing: -0.01em;
  text-align: center;
  color: #fff;

  transition: transform 0.2s ease;
}

.about-img{
  width: 100%;
  border-radius: 10px;
}


/* CONTACTS SECTION */

.home-contacts-section{
  background:
      linear-gradient(rgba(21, 27, 38, 0.85),
        rgba(21, 27, 38, 0.9)),
      url("./images/contacts-bg.jpg");
  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.home-contacts-container{
  position: relative;
  padding-left: 45px;
}

.home-contacts-container::before {
  content: "";
  position: absolute;
  left: 4%;
  top: 0;
  height: 100%;
  width: 4px;
  background-color: #e53935;
  border-radius: 2px;
}

.contacts-header{
  font-weight: 700;
  font-size: 36px;
  line-height: 110%;
  letter-spacing: -0.02em;
  color: #f0f4f8;

  margin-bottom: 30px;
}

.contacts-pre-header{
  font-weight: 700;
  font-size: 22px;
  line-height: 125%;
  letter-spacing: -0.02em;
  color: #f0f4f8;

  margin-bottom: 20px;
}

.contacts-text{
  font-weight: 400;
  font-size: 18x;
  line-height: 125%;
  letter-spacing: -0.02em;
  color: #f0f4f8;

  margin-bottom: 35px;
}

.form-container{
  border: 2px solid #dd2b2b;
  border-radius: 13px;
  box-shadow: 3px 3px 7px 0 rgba(0, 0, 0, 0.25);
  background: #212a3c;
  padding: 40px 30px 10px 30px;

  display: flex;
  flex-direction: column;
}
.input-field-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:15px;
}
.input-wrapper{
  position: relative;
}

.input-icon{
  position: absolute;
  top:10px;
  left:10px;
}

.contact-input{
  padding: 14px 5px 14px 45px;
  width: 100%;
  background: #d9d9d9;
  border: 1.50px solid #dd2b2b;
  border-radius: 5px;

  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-input:hover {
  border-color: #00a8ff;
  box-shadow: 0 0 15px rgba(0, 170, 255, 0.1);
  transform: translateY(-2px);
}

.contact-input:focus-within {
  border: 2px solid #f7b30a;
  box-shadow: 0 0 15px rgba(0, 170, 255, 0.1);

  transform: scale(1.005);

  outline: none;
}

/* 2. Анімація для іконки при фокусі на інпуті */
.input-wrapper:focus-within .input-icon {
  color: #00a8ff;
  transform: scale(1.1);
  transition: all 0.3s ease;
}


.input-field-button{
  margin: 30px 0;
  align-self: center;

  border-radius: 15px;
  padding: 14px 14px;
  width: 50%;
  box-shadow: 4px 3px 4px 0 rgba(0, 0, 0, 0.25);
  background: #dd2b2b;

  font-weight: 700;
  font-size: 18px;
  line-height: 145%;
  letter-spacing: -0.01em;
  text-align: center;
  color: #fff;

  transition: transform 0.2s ease;
}

.input-field-text{
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 125%;
  letter-spacing: -0.02em;
  color: #b3b9c4;
}

@media (min-width: 768px) {

  .home-container {
      padding: 0 85px;
    }

  .home-hero-container {
    padding: 0;
  }

  .home-hero-section {
    display: grid;
    grid-template-columns: 40% 60%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url(./images/plane_home_desktop_bg.jpg);
  }
  .home-hero-content{
    width: 420px;
    margin-left: 100px;
  }
  .home-hero-header{
    font-size: 70px;
  }
  .home-hero-text{
    font-size: 30px;
  }
  .home-exp-section, .home-about-section {
    padding: 100px 0;
  }

  .home-exp-blocks {
    flex-direction: row;
    gap: 21px;
  }

  .home-exp-block {
    width: 410px;
    gap: 30px;
  }

  .home-exp-block-header {
    font-size: 30px;
  }

  .home-exp-block-text {
    font-size: 22px;
  }

  .home-about-section{
    padding: 40px 0;
  }
  .about-row{
    flex-direction: row;
    gap:70px;
  }

  .temple{
    width: 600px;
  }
  .team{
    width: 500px;
  }
}