.navbar-container{
    display: flex;
    justify-content: space-between;
    box-shadow: 0 10px 6px 0 rgba(0, 0, 0, 0.15);
    background: #0000004d;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 50;
    margin: 0 auto;
    align-items: center;
    padding: 20px 44px;

    font-family: var(--font-family);
}
.navbar-container .logo{
    font-weight: 700;
    font-size: 27px;
    line-height: 110%;
    letter-spacing: -0.02em;
    text-align: center;
    color: #dd2b2b;

    transition: color 450ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.navbar-links {
    display: flex;
    position: fixed;
    top: 0;
    right: -100%;
    width: 80%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.551);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 30px 180px 30px;
    transition: right 0.4s ease;
    backdrop-filter: blur(10px);
    gap: 26px;
    text-align: center;
}

.navbar-links.active {
    right: 0;
}

.navbar-links .nav-link{
    font-weight: 700;
    font-size: 24px;
    line-height: 145%;
    text-align: center;
    color: #fff;
    transition: opacity 450ms cubic-bezier(0.165, 0.84, 0.44, 1);
    position: relative;
}



.navbar-container .logo:hover,
.navbar-container .logo:focus {
    color: #991d1d;
}

.current{
    color: #dd2b2b;
}

.navbar-links .nav-link::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: rgb(212, 71, 71);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

.navbar-links .nav-link:hover,
.navbar-links .nav-link:focus {
    opacity: 50%;
}
.navbar-links .nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.navbar-burger-menu {
    cursor: pointer;
    z-index: 100;
    transition: transform 0.2s ease;
}

.navbar-burger-menu:hover svg,
.navbar-burger-menu:focus svg {
    transform: scale(1.15);
}

.nav-reg {
    padding: 7px 12px;
    background-color: #dd2b2b;
    border-radius: 5px;

    font-weight: 700;
    font-size: 24px;
    line-height: 145%;
    text-align: center;
    color: #fff;

    transition: background-color 250ms ease;
}

.nav-reg:hover,
.nav-reg:focus,
.nav-reg:active {
    background-color: #991d1d;
}

@media (min-width: 768px) {
    .navbar-burger-menu {
        display: none;
    }

    .navbar-links {
        position: static;
        height: auto;
        width: auto;
        background: none;
        flex-direction: row;
        padding: 0;
        backdrop-filter: none;
        gap: 40px;
    }
    .navbar-links .nav-link, .nav-reg{
        font-size: 20px;
    }
}
